.about {
    background-color: #FFC915;
}
.about .row{
    align-items: center;
    width: 75%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info-about h5{
    line-height: 1.5;

    color: rgba(0, 0, 102, 0.499);
}
@media screen and (max-width: 400px) {
    .about .row {
    width: 90%;
    }
    
    }