.about {
    background-color: whitesmoke;
}
.about .row{
    align-items: center;
    width: 90%;
    padding: 100px 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about .row h1{
    font-size: 51px;
    color: #0d6efd;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.info-about h5{
    line-height: 2;
font-size: 25px;
    color: gray;
    font-weight: bold;
}
@media screen and (max-width: 400px) {
    .about .row {
    width: 90%;
    padding: 0;
    }
    .about .row h1{
        font-size: 31px;
text-align: center;
    }
    
    }